<!DOCTYPE html>
<html>
  <head>
    <title>Pinteresting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d260919ca6.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="https://cdn.icon-icons.com/icons2/2119/PNG/512/social_pinterest_icon_131227.png">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
